@media(max-width: 1000px) {
    :host {
        font-size: 35px;
    }

    .select-all-sources {
        font-style: italic;
    }

    .custom-control label.custom-control-label:before,
    .custom-control label.custom-control-label:after {
        width: 2rem !important;
        height: 2rem !important;
    }

    .custom-control label.custom-control-label span {
        margin-left: 12px;
    }

    a {
        margin-top: 10px;
        font-size: 30px;
    }
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #009767 !important;
}

.select-all-sources a, .select-all-sources a:hover {
    color: #009767;
}

.custom-control a, .custom-control a:hover {
    color: #009767;
}
